 
<div class="wrapper-frame top"></div>
<div class="wrapper-frame bottom"></div>
<div class="wrapper margin-5">

  <div class="row expanded paddingTop-8 paddingRightLeft-5" id="header">
    {{> header}}
  </div>

  <div class="row expanded content paddingTop-6 paddingBottom-2 paddingRightLeft-5" id="skills">
    {{> skills}}
  </div>

  <div class="row expanded content paddingTop-6 paddingRightLeft-5" id="work-experience">
    {{> work-experience}}
  </div>

  <div class="row expanded content paddingTop-6 paddingBottom-2 paddingRightLeft-5" id="volunteer-activities">
    {{> volunteer-activities}}
  </div>

  <div class="row expanded content paddingTopBottom-6 paddingRightLeft-5" id="contact-me">
    {{> contact}}
  </div>

  <div class="row expanded content paddingTopBottom-1 paddingRightLeft-5 text-center" id="footer">
    All rights Reserved by Payam Saderi.
  </div>

</div>