    <div class="medium-4 columns">
      <h3>Contact</h3>
    </div>
    <div class="medium-8 columns">
        <ul class="no-bullet">
           <li>
               Email: <a href="http://www.google.com/recaptcha/mailhide/d?k=01T1ezZlaNlKlC6vJJaGzVaQ==&amp;c=qjLiH7ppoX_msOr4oBZCCoQLlbpUtUIKJsbt_noJFp0=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01T1ezZlaNlKlC6vJJaGzVaQ\x3d\x3d\x26c\x3dqjLiH7ppoX_msOr4oBZCCoQLlbpUtUIKJsbt_noJFp0\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">s...@gmail.com</a>
           </li>
           <li>
               Mobile: <a href="tel:+989146559168">
                   <span>+98 914 6559168</span>
               </a>
           </li>
           <li class="square-icon-li">
               Location: <a href="http://www.google.com/maps/place/Tehran" target="_blank">
                   <span>Tehran, Iran</span>
               </a>
           </li>
        </ul>
    </div>
