    <div class="medium-4 columns">
      <h3>Contact</h3>
    </div>
    <div class="medium-8 columns">
        <ul class="no-bullet">
        <li>
          <ul class="links">
            <li><a href="https://www.linkedin.com/in/payam-saderi/" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a></li>
            <li><a href="https://github.com/saderi" target="_blank" class="socicon" ><i class="icon socicon-github"></i></a></li>
            <li><a href="https://twitter.com/PayamSaderi" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a></li>
          </ul>
        </li>
           <li>
               Mobile: 
                  Turkey (<a href="tel:+905050652204"><span>+90 505 065 2204</span></a>)
                  <small>::</small>
                  Iran (<a href="tel:+989146559168"><span>+98 914 655 9168</span></a>)
           </li>
           <li class="square-icon-li">
               Location: <a href="http://www.google.com/maps/place/Istanbul" target="_blank">
                   <span>Istanbul, Turkey</span>
               </a>
           </li>
        </ul>
    </div>
