    <div class="medium-4 columns">
      <h3>Contact</h3>
    </div>
    <div class="medium-8 columns">
        <ul class="no-bullet">
        <li>
          {{> socialmedia }}
        </li>
           <li>
               Mobile: 
                  Turkey (<a href="tel:+905050652204"><span>+90 505 065 2204</span></a>)
                  <small>::</small>
                  Iran (<a href="tel:+989146559168"><span>+98 914 655 9168</span></a>)
           </li>
           <li class="square-icon-li">
               Location: <a href="http://www.google.com/maps/place/Istanbul" target="_blank">
                   <span>Istanbul, Turkey</span>
               </a>
           </li>
        </ul>
    </div>
