    <div class="medium-4 small-8 columns">
        <div class="avatar">
          <img src="assets/img/payam.jpg" alt="PAYAM SADERI">
        </div>       
    </div>
    <div class="medium-6 small-12 end columns">
        <h1 class="margin-off myname">PAYAM SADERI</h1>
        <h3 class="jobtitle">Linux SysAdmin & Web Developer</h3>
        <p>I am a linux sysadmin who try to be a good DevOps.I started to work in this filed as a front-end developer in 2003, aslo I have 12 years of experiences as Linux system administrator.</p>
        <p>I am very keen on learning and using new technology in my field. Producing podcast and videocast aslo writing blog are my hobbies.</p>
        {{> socialmedia }}
    </div>
    <div class="small-12 columns">
      <section id="section" class="hide-for-small-only">
        <span></span>
        <div class="scrolling">SCROLL DOWN</div>
      </section>
    </div>  
