    <div class="medium-4 small-8 columns">
        <div class="avatar">
          <img src="assets/img/payam.jpg" alt="PAYAM SADERI">
        </div>       
    </div>
    <div class="medium-6 small-12 end columns">
        <h1 class="margin-off myname">PAYAM SADERI</h1>
        <h3 class="jobtitle">Linux SysAdmin & Web Developer</h3>
        <p>I am a linux sysadmin who try to be a good DevOps.I started to work in this filed as a front-end developer in 2003, aslo I have 12 years of experiences as Linux system administrator.</p>
        <p>I am very keen on learning and using new technology in my field. Producing podcast and videocast aslo writing blog are my hobbies.</p>
        <ul class="links">
          <li><a href="https://www.linkedin.com/in/payam-saderi/" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a></li>
          <li><a href="https://github.com/saderi" target="_blank" class="socicon" ><i class="icon socicon-github"></i></a></li>
          <li><a href="https://twitter.com/PayamSaderi" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a></li>
          <li><a href="https://saderi.com/blog/" class="socicon" ><i class="icon socicon-wordpress"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCJKqjAlXrjlWPxY99mkNO0A" target="_blank" class="socicon" ><i class="icon socicon-youtube"></i></a></li>
        </ul>
    </div>
    <div class="small-12 columns">
      <section id="section" class="hide-for-small-only">
        <span></span>
        <div class="scrolling">SCROLL DOWN</div>
      </section>
    </div>  
