<div class="medium-4 columns">
   <h4>Front-end Development</h4>
</div>
<div class="medium-8 columns">
    <ul class="no-bullet Skills-Explained">
      <li>
        <h5>Fundamentals</h5>
        <p>HTML5, CSS3, Javascript (ES6)</p>
      </li>
      <li>
        <h5>Javascript Frameworks and Libraries</h5>
        <p>jQuery</p>
      </li>
      <li>
        <h5>Task Runners and Module Tools</h5>
        <p>Gulp</p>
      </li>
      <li>
        <h5>Stylesheet Languages</h5>
        <p>Sass, PostCSS</p>
      </li>
      <li>
        <h5>CSS Frameworks</h5>
        <p>Zurb Foundation , Bootstrap, Semantic UI , etc…</p>
      </li>
      <li>
        <h5>Client Side</h5>
        <p>
            Understanding User Experience Principles (UX) 
            <br>Applying Mobile First and Responsive Design 
            <br>Paying attention to Typography, Colors, Wireframes, Prototypes
            <br>Designing bidirectional, either RTL or LTR
        </p>
      </li>
    </ul>
</div>