<div class="medium-4 columns">
  <h3>Skills <small>(Quick Glance)</small></h3>
</div>
<div class="medium-8 columns">
  <ul>
     <li>An advanced system administrator</li>
     <li>Good experience with Docker and Swarm orchestration</li>
     <li>A professional in front-end development</li>
     <li>A high level of proficiency and experience in front-end design</li>
     <li>Considerable teamwork experience and ability to work with version control systems</li>
     <li>Experience in Agile software development</li>
     <li>A careful attention to details and get on well with other people</li>
     <li>Experience in SEO</li>
  </ul>
</div>