<div class="medium-4 columns">
  <h4>System Administrator</h4>
</div>
<div class="medium-8 columns">
  <ul class="no-bullet Skills-Explained">
    <li>
      <h5>Containerization</h5>
      <p>Docker, Swarm</p>
    </li>
    <li>
      <h5>Virtualization</h5>
      <p>Virtualizor, Proxmox</p>
    </li>
    <li>
      <h5>Linux Distribution</h5>
      <p>CentOS, Ubuntu, Debian, etc …</p>
    </li>
    <li>
      <h5>Web Server</h5>
      <p>Apache, Nginx</p>
    </li>
    <li>
      <h5>Database</h5>
      <p>MySQL Server</p>
    </li>
    <li>
      <h5>Control Panel</h5>
      <p>cPanel/WHM, Webmin, DirectAdmin, etc…</p>
    </li>
    <li>
      <h5>Cloud Service</h5>
      <p>AWS <small>(partially experience)</small></p>
    </li>
  </ul>
</div>