<div class="medium-4 columns">
  <h4>Back-end Development</h4>
</div>
<div class="medium-8 columns">
  <ul class="no-bullet Skills-Explained">
    <li>
      <h5>Technologies</h5>
      <p>
        PHP
        <br> Python <small>(newbie)</small>
      </p>
    </li>
    <li>
      <h5>Database</h5>
      <p>
        MySQL
        <br> MariaDB
        <br> MongoDB
      </p>
    </li>
    <li>
      <h5>Open Source Frameworks</h5>
      <p>Laravel, Seagull PHP framework, Wordpress, Drupal, etc…</p>
    </li>
  </ul>
</div>