    <div class="medium-4 columns">
      <h3>Skills <small>(Quick Glance)</small></h3>
    </div>
    <div class="medium-8 columns">
      <ul>
         <li>A professional in front-end development</li>
         <li>A high level of proficiency and experience in front-end design</li>
         <li>An advanced system administrator</li>
         <li>Considerable teamwork experience and ability to work with version control systems</li>
         <li>Experience in Agile software development</li>
         <li>A careful attention to details and get on well with other people</li>
         <li>Experience in SEO</li>
      </ul>
    </div>
    <hr>
    <div class="medium-12 columns">
      <h3 class="">Skills <small>(Explained)</small></h3>
    </div>
    <div class="medium-4 columns">
       <h4>Front-end Development</h4>
    </div>
    <div class="medium-8 columns">
        <ul class="no-bullet Skills-Explained">
          <li>
            <h5>Fundamentals</h5>
            <p>HTML5, CSS3, Javascript (ES6)</p>
          </li>
          <li>
            <h5>Javascript Frameworks and Libraries</h5>
            <p>jQuery, Reactjs</p>
          </li>
          <li>
            <h5>Task Runners and Module Tools</h5>
            <p>Gulp</p>
          </li>
          <li>
            <h5>Stylesheet Languages</h5>
            <p>Sass, PostCSS</p>
          </li>
          <li>
            <h5>CSS Frameworks</h5>
            <p>Zurb Foundation , Bootstrap, Semantic UI , etc…</p>
          </li>
          <li>
            <h5>Client Side</h5>
            <p>
                Understanding User Experience Principles (UX) 
                <br>Applying Mobile First and Responsive Design 
                <br>Paying attention to Typography, Colors, Wireframes, Prototypes
                <br>Designing bidirectional, either RTL or LTR
            </p>
          </li>
        </ul>
    </div>
    <hr class="lighten">
    <div class="medium-4 columns">
      <h4>Back-end Development</h4>
    </div>
    <div class="medium-8 columns">
            <ul class="no-bullet Skills-Explained">
              <li>
                <h5>Technologies</h5>
                <p>PHP <small>(partially experience)</small></p>
              </li>
              <li>
                <h5>Database</h5>
                <p>
                  MySQL <small>(partially experience)</small>
                  <br>MariaDB
                </p>
              </li>
              <li>
                <h5>Open Source Frameworks</h5>
                <p>Seagull PHP framework, Wordpress, Drupal, etc…</p>
              </li>
            </ul>
    </div>
    <hr class="lighten"> 
    <div class="medium-4 columns">
      <h4>System Administrator</h4>
    </div>
    <div class="medium-8 columns">
      <ul class="no-bullet Skills-Explained">
        <li>
          <h5>Linux Distribution</h5>
          <p>CentOS, Ubuntu, Debian, etc …</p>
        </li>
        <li>
          <h5>Web Server</h5>
          <p>Apache, Nginx</p>
        </li>
        <li>
          <h5>Database</h5>
          <p>MySQL Server</p>
        </li>
        <li>
          <h5>Control Panel</h5>
          <p>cPanel/WHM, Webmin, DirectAdmin, etc…</p>
        </li>
      </ul>
    </div>
    <hr class="lighten">
    <div class="medium-4 columns">
      <h4>Other Essentials</h4>
    </div>
    <div class="medium-8 columns">
      <ul class="no-bullet Skills-Explained">
        <li>
          <h5>Working with APIs</h5>
          <p>JSON, SOAP, cURL, XML, etc…</p>
        </li>
        <li>
          <h5>Coding Modular Javascript</h5>
          <p>CommonJS</p>
        </li>
        <li>
          <h5>Using Package Managers</h5>
          <p>npm, Bower, Composer</p>
        </li>
        <li>
          <h5>Version Control Systems</h5>
          <p>Git</p>
        </li>
      </ul>
    </div>
