<ul class="links">
    <li><a href="https://www.linkedin.com/in/payam-saderi/" target="_blank" class="socicon" ><i class="icon socicon-linkedin"></i></a></li>
    <li><a href="https://github.com/saderi" target="_blank" class="socicon" ><i class="icon socicon-github"></i></a></li>
    <li><a href="https://twitter.com/PayamSaderi" target="_blank" class="socicon" ><i class="icon socicon-twitter"></i></a></li>
    <li><a href="https://saderi.com/blog/" class="socicon" ><i class="icon socicon-wordpress"></i></a></li>
    <li><a href="http://www.youtube.com/c/PayamSaderi" target="_blank" class="socicon" ><i class="icon socicon-youtube"></i></a></li>
</ul>