    <div class="medium-4 columns">
      <h3>Volunteer Activities</h3>
    </div>
    <div class="medium-8 columns">
      <div class="row small-up-1 title-and-time">
         <div class="columns">
            <div class="name">CO-Organized & Hands-on ZurbFoundation Workshop at CoderConf 2016</div>
            <div class="position"><a href="https://coderconf.org">coderconf.org</a></div>
            <div class="timeperiod">18  August  2016, Tehran, Iran</div>
         </div>
         <div class="columns">
            <div class="name">CO-FOUNDER & Editor in Chief at Hive.ir <small>( Online Magazine For Designers & Web Developer )</small> </div>
            <div class="position"><a href="https://hive.ir">hive.ir</a></div>
            <div class="timeperiod">18  August  2016, Tehran, Iran</div>
         </div>
         <div class="columns">
            <div class="name">CO-Organized at Lean Startup Machine</div>
            <div class="position"><a href="http://tehran1.leanstartupmachine.ir">leanstartupmachine.ir</a></div>
            <div class="timeperiod">12-14 May 2014, Tehran, Iran</div>
         </div>
         <div class="columns">
            <div class="name">Mentored & CO-Organized at Startup Weekend <small>( Web Developer & SysAdmin )</small></div>
            <div class="position"></div>
            <div class="timeperiod">20-22 November 2013, Tabriz, Iran</div>
         </div>
      </div>
    </div>
