    <div class="medium-4 columns">
      <h3>Work Experience</h3>
      <p>Freelance - Web Developer & SysAdmin
      <br><small>since Dec 2015</small></p>
    </div>
    <div class="medium-8 columns ">
      <div class="row small-up-1 medium-up-2 large-up-2 title-and-time">
         <div class="columns">
            <div class="name">FontIRAN.com</div>
            <div class="position">CTO</div>
            <div class="timeperiod">Oct 2016 – Until now <small>(remote)</small></div>
         </div>
         <div class="columns">
            <div class="name">SanalPara.com</div>
            <div class="position">System Administrator</div>
            <div class="timeperiod">Feb 2018 – Until now <small>(remote)</small></div>
         </div>
         <div class="columns">
            <div class="name">ebilit.com</div>
            <div class="position">System Administrator</div>
            <div class="timeperiod">Apr 2016 – Until now <small>(remote)</small></div>
         </div>
         <div class="columns">
            <div class="name">Qonqa.ir</div>
            <div class="position">System Administrator</div>
            <div class="timeperiod">Nov 2017 – Until now <small>(remote)</small></div>
         </div>
         <div class="columns">
            <div class="name">Zarinpal</div>
            <div class="position">Front-end Developer</div>
            <div class="timeperiod">Aug 2014 – Dec 2015</div>
         </div>
         <div class="columns">
            <div class="name">Roshan Jahan Afarin <small>[xenon.ir]</small></div>
            <div class="position">Web Developer & SysAdmin</div>
            <div class="timeperiod">Apr 2014 — Aug 2014</div>
         </div>
         <div class="columns">
            <div class="name">Gooya Gostaran Web <small>[Gooyahost]</small></div>
            <div class="position">Web Developer & SysAdmin</div>
            <div class="timeperiod">Jun 2007 — Until now (remote - part time)</div>
         </div>
         <div class="columns">
            <div class="name">Freelance</div>
            <div class="position">Full Stack Developer</div>
            <div class="timeperiod">Dec 2003 —  Apr 2014</div>
         </div>
         <div class="columns">
            <div class="name">Parsoon</div>
            <div class="position">CO-FOUNDER</div>
            <div class="timeperiod">Oct 2003 — Dec 2013</div>
         </div>
         <div class="columns">
            <div class="name">AzarAeen</div>
            <div class="position">Graphic Designer & Multimedia</div>
            <div class="timeperiod">Jul 2000 — Feb 2001</div>
         </div>
      </div>
    </div>