{{!-- This is the base layout for your project, and will be used on every page. --}}
<!--
Hello Developer :)

Smart Developer always look at the codes.
If you read this probably you are a web developer Or programmer.

tell me if you see something wrong in code or other thing

Best Regard
Payam Saderi
-->
<!doctype html>
<html class="no-js" lang="en" version="2019-02-02-0148">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payam Saderi</title>
    <meta name="keywords" content="DevOps, sysadmin, back-end developer, front-end developer, developer, HTML5, CSS3, Javascript, Web Designer">
    <meta name="description" content="I am a linux sysadmin who try to be a good DevOps.I started to work in this filed as a front-end developer in 2003, aslo I have 12 years of experiences as Linux system administrator.">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Payam Saderi">
    <meta property="og:url" content="http://saderi.com">
    <meta property="og:title" content="Payam Saderi">
    <meta property="og:description" content="Web Designer">
    <meta property="og:image" content="http://saderi.com/assets/img/payam.jpg">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://saderi.com">
    <meta name="twitter:domain" content="http://saderi.com/">
    <meta name="twitter:title" content="Payam Saderi">
    <meta name="twitter:description" content="Web Designer">
    <meta name="twitter:image" content="http://saderi.com/assets/img/payam.jpg">

    <link rel="apple-touch-fa-precomposed" sizes="180x180" href="{{root}}assets/img/apple-touch-icon.jpg" />
    <link rel="shortcut icon" href="{{root}}assets/img/apple-touch-icon.jpg" />
    <link rel="stylesheet" href="{{root}}assets/css/app.css?=version=2019-02-02-0148">
  </head>
  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{!-- Pages  page is created. --}}
    {{> body}}

    <script src="{{root}}assets/js/app.js?=version=2019-02-02-0148"></script>
  </body>
</html>